stages:
  - lint
  - test
  - build

variables:
  CI_REGISTRY: mohs.dhcp.lbl.gov
  CONTAINER_IMAGE: $CI_REGISTRY/python_env_bookworm

image: $CONTAINER_IMAGE

flake8:
  stage: lint
  script:
    - find . -name "*.py" -exec flake8 {} +
  allow_failure: true

test:
  stage: test
  script:
    - python3 -m pip install -r requirements.txt
    - python3 -m pytest

build:
  stage: build
  script:
    - python3 -m build
    - python3 -m twine upload --repository-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi dist/*
