stages:
  - lint
  - test
  - build
  - publish

variables:
  CI_REGISTRY: mohs.dhcp.lbl.gov
  CONTAINER_IMAGE: $CI_REGISTRY/python_env_bookworm

image: $CONTAINER_IMAGE

flake8:
  stage: lint
  script:
    - find . -name "*.py" -exec flake8 {} +
  allow_failure: true

leep_test:
  before_script:
    - pip3 install numpy
  stage: test
  script:
    - python3 -m unittest -v
    - cd leep && make && make clean

test:
  stage: test
  script:
    - python3 -m pip install -r requirements.txt
    - python3 -m pytest -v

build:
  stage: build
  script:
    - python3 -m build
  artifacts:
    name: "$CI_JOB_NAME-$CI_COMMIT_REF_NAME"
    expire_in: 4 weeks
    paths:
      - dist/*

.publish:
  stage: publish
  # Get artifacts from this job, needed to compile the sofware
  needs:
    - job: build
      artifacts: true
  script:
    - python3 -m twine upload --repository-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi dist/*

publish-snapshot:
  extends: .publish
  rules:
    # only when not tag
    - if: '$CI_COMMIT_TAG'
      when: never
    - when: on_success

publish-release:
  extends: .publish
  rules:
    # only tags
    - if: '$CI_COMMIT_TAG'
      when: on_success
    - when: never
